<nav class="navbar navbar-dark bg-dark rounded-3">
    <div class="container-fluid px-md-4 px-2">
        <a class="navbar-brand" href="">Магазин</a>
        <div class="d-flex flex-row flex-wrap">
            <NavLink class="nav-link" href="">Все</NavLink>
            @if (Categories != null)
            {
                foreach (var category in Categories)
                {
                    <NavLink class="nav-link" href="@category.Name">@category.Name</NavLink>
                }
            }
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0 d-flex w-100 px-2" @onsubmit="() => OnSearch.InvokeAsync(searchTerm)">
        <input class="form-control me-2 w-85" type="search" placeholder="Поиск" aria-label="Search" @bind="searchTerm">
        <button class="btn my-2 my-sm-0 bg-secondary text-white" type="submit">Поиск</button>
    </form>
</nav>

@code {
    [Parameter]
    public IEnumerable<CategoryModel> Categories { get; set; }

    [Parameter] public EventCallback<string> OnSearch { get; set; }
    
    private string searchTerm;
}
