@inject DataBaseContext DataBaseContext;

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Магазин</a>
        <div class="d-flex flex-row flex-wrap">
            <NavLink class="nav-link" href="">Все</NavLink>
            @if (Categories != null)
                foreach (var category in Categories)
                {
                    var href = $"{category.Name}";
                    <NavLink class="nav-link" href="@href">@category.Name</NavLink>
                }
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0 d-flex" style="width: 100%;">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" style="background-color: #555; color: white; width: 85%;">
        <button class="btn my-2 my-sm-0" type="submit" style="background-color: #6c757d; color: white; width: 15%;">Поиск</button>
    </form>
</nav>

@code {
    [Parameter]
    public IEnumerable<CategoryModel> Categories { get; set; }
}